@import '../assets/styles/Vars.scss';
@import '../components/NavBar/NavBar.scss';
@import '../components/Spinner/Spinner.scss';
@import '../components/Footer/Footer.scss';
@import '../components/Item/Item.scss';
@import '../components/ItemList/ItemList.scss';
@import '../components/Widgets/CartWidget/CartWidget.scss';
@import '../components/Widgets/FavoriteWidget/FavoriteWidget.scss';
@import '../components/Widgets/ViewDetailsWidget/ViewDetailsWidget.scss';
@import '../components/Widgets/BackwardWidget/BackwardWidget.scss';
@import '../components/Widgets/TrashWidget/TrashWidget.scss';
@import '../components/Widgets/HomeWidget/HomeWidget.scss';
@import '../components/Widgets/WarningWidget/WarningWidget.scss';
@import '../components/ItemDetail/ItemDetail.scss';
@import '../components/Cart/Cart.scss';
@import '../components/Checkout/Checkout.scss';
@import '../containers/ItemListContainer/ItemListContainer.scss';
@import '../containers/ItemCounter/ItemCounter.scss';
@import '../containers/Form/Form.scss';




.App {
    text-align: center;
    min-height: 100vh;
}

.error{
    color: $pink;
}

  
  