.item__detail__card{
    background: $soft-orange;
    min-height: 520px;

    &__img{
        border: $black solid 3px;
        padding: 10px;
    }

    &__buttonBack{
        background: $pink;
        color: $white;
    }

    &__amount{
        background: $white;
    }

    &__add{
        border: 2px solid $pink;
        color: $pink;
        padding: 5px;

        &:hover{
            background: $strong-gray;
            border: 2px solid $strong-gray;
            color: $white;
        }
    }
}