.item__detail__card{
    background: $soft-orange;
    min-height: 520px;

    &__img{
        border: $black solid 3px;
        padding: 10px;
    }

    &__amount{
        background: $white;
    }

    .item__detail__buy__cart, .item__detail__keep__buying{
        background: $pink;
        border: 2px solid $baby-pink;
        color: $white;
        padding: 5px;

        &:hover{
            border: 2px solid $strong-gray;
        }
        
    }

    a.disabled{
         opacity: 0.5;
         pointer-events: none;
     }

}