.list__item{
    background-color: lighten($sweet-green, 25%);

    img{
        height: 350px;
    }


    &__description{
        margin: 20px 0 40px 0;

    }

    &__price{
        text-align: end;
        bottom: 20px;
        right: 20px;
        color: $pink;
        font-weight: 700;
    }

}