.list__item{
    background-color: lighten($sweet-green, 20%);
    position: relative;

    img{
        height: 350px;
    }


    &__info{

        &__pill, &__freeBritney{
            color: $baby-pink;
            border: $baby-pink 1px solid;
            padding: 4px;
            font-size: 12px;
            margin-right: 15px;
        }

        &__description{
            margin: 20px 0 40px 0;
    
        }
    
        &__price{
            text-align: end;
            bottom: 16px;
            right: 20px;
            color: $pink;
            font-weight: 700;
        }
    }
    

}