.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  margin-top: 30px;
  font-size: 75px;
  color: #ED26CC;
  font-family: oops, serif;
}

.subtitle{
  color: #000;
  font-size: 40px;
  font-family: Roboto, serif;
}

.App-footer{
  background-color: #ED26CC;
  color: #fff;
  padding: 10px;
  text-align: end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
