//Colors
$pink: #ED26CC;
$clear-gray: #eeeeee;
$soft-gray: #bdbdbd;
$baby-pink: #eb85ab;
$strong-gray: #474747;
$sweet-green: #69FFCA;

$black: #000;
$white: #fff;

//Google fonts
.inconsolata {
    font-family: 'Inconsolata', monospace;
}